#cinema {
    background-color: #000;

    .cinema-main {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        padding-bottom: 100px;

        h1 {
            color: #fff;
        }

        .cinema-main-container {
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 30px;
            padding-top: 70px;

            img {
                width: 223px;
            }

            p {
                color: #fff;
                margin-top: 15px;
                margin-bottom: 5px;
                font-weight: 500;
            }

            span {
                color: #fff;
                font-weight: 500;
            }
        }
    }
}